/* Thème custom */
body.theme-base-0g {
	background-color: #E4EDFB ;
	color: #161F1E;
}

.theme-base-0g .post-date,
.theme-base-0g .masthead-title small,
.theme-base-0g .cv-date {
	color: #8D929A ;
}

.theme-base-0g .sidebar,
.theme-base-0g .sidebar-toggle:active,
.theme-base-0g #sidebar-checkbox:checked ~ .sidebar-toggle {
	background-color: #004439;
}
.theme-base-0g .container a,
.theme-base-0g .sidebar-toggle,
.theme-base-0g .related-posts li a:hover {
	color: #004439;
}

.theme-base-0g .cv-date {
	font-style : italic ;
}

/* a {
	color: #051938 ;
} */